{% extends "layout.html" %}



{% block body %}
    {% if session.logged_in %}

    <h3> Training Results:  </h3>
    {% for result in results %}

        
            <ul class=results>
                  {% for key, value in result.iteritems() %}
                        <li>{{key}} : {{value}} </td>
               {% endfor %}
            </ul> 
    {% endfor %}





      <form action="" method=post class=add-entry enctype=multipart/form-data>
      <dl>
        <dt> Would you like to test your model?
        <dd><input type=file name="test_file">
        <dd><input type=hidden value = {{D}} name="dim">
        <dd><input type=submit value=Test Dataset>
      </dl>
    </form>

  {% endif %}
{% endblock %}
