{% extends "layout.html" %}



{% block body %}
    {% if session.logged_in %}

    {% for myResult in results %}
        <h3> Lambda: {{myResult[2]}}  </h3>
          <ul class=results>
                <li> Training Accuracy: {{ myResult[0] }}
                <li> Validation Accuracy: {{myResult[1]}}
          </ul>

    {% endfor %}

      <form action="" method=post class=add-entry enctype=multipart/form-data>
      <dl>
        <dt> Would you like to test your model?
        <dd><input type=file name=file>
        <dd><input type=submit value=Upload Dataset>
      </dl>
    </form>

  {% endif %}
{% endblock %}
