
{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      <ul class=results>
         {% for val in results %}
         <li> {{loop.index}}Predicted Value: {{val}}
         {% endfor %}
      </ul>

    <form action="" method=post class=add-entry enctype=multipart/form-data>
      <dl>
        <dt> Would you like to test your model?
        <dd><input type=file name=file>
        <dd><input type=submit value=Upload Dataset>
      </dl>
    </form>
  {% endif %}
{% endblock %}
