{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="" method=post class=add-entry enctype=multipart/form-data>
      <dl>
        <dt>Labeled Dataset
        <dd><input type=file name=file>
        <dd><input type=submit value=Upload Dataset>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
    <li> {{ loop.index}}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
