{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if session.logged_in %}
    <form action="" method=post class=add-entry enctype=multipart/form-data>
      <dl>
        <dt> Upload a Training Dataset
        <dd id = descr> Choose either a csv file, or tsv file such that each line of the file contains a training example in the format &lttraining label&gt &ltdelimiter&gt &ltdocument&gt
        <dd> Currently only binary classification is supported
        <dd><input type=file name=file>
        <dd><input type=submit value=Upload Dataset>
      </dl>
    </form>

    <a href = "/select_page/"> Skip </a>

      

  {% endif %}

{% endblock %}
